<% const d = new Date() 
let year = d.getFullYear()
let month = d.toLocaleString('default', { month: 'long' })
let day = d.getDate() %>
<footer>
    <p class="copyright">&copy; <%= month %> <%= day %>, <%= year %> - CSE 340 App</p>
</footer>