<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a my application for CSE 340 in BYU-Pathway.">
    <meta name="author" content="Eluwa Victor Monday">
    <meta name="keywords" content="CSE 340, byu-pathway, education, online learning">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title><% title %> | CSE 340 App</title>
</head>
