<h1>Error</h1>
<% if (message) { %>
    <p><%= message %></p>
<% } else { %>
    <p>OopS! An unexpected error has occurred.</p>
<% } %>
<%- grid %>
you can go back to the <a href="/">home page</a> or try again later.