
<main class="error-page">
  <section>
    <h1>🚨 Error: <%= title || "Error" %></h1>

    <% if (message) { %>
      <p><%= message %></p>
    <% } else { %>
      <p>Oops! An unexpected error has occurred.</p>
    <% } %>

    <a href="/" class="button">Return Home</a>
  </section>
</main>
